In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(10,size=(3,4)), columns=['A','B','C','D'], index=['a','b','c'])

In [3]:
df

   A  B  C  D
a  6  2  3  1
b  3  8  3  7
c  5  4  1  3

In [4]:
np.exp(df)   #### 'e' to the power value of elements

            A            B          C            D
a  403.428793     7.389056  20.085537     2.718282
b   20.085537  2980.957987  20.085537  1096.633158
c  148.413159    54.598150   2.718282    20.085537

In [5]:
df

   A  B  C  D
a  6  2  3  1
b  3  8  3  7
c  5  4  1  3

In [6]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [7]:
area

Alaska        1723337
California     423967
Texas          695662
Name: area, dtype: int64

In [8]:
population

California    38332521
New York      19651127
Texas         26448193
Name: population, dtype: int64

In [9]:
density = population / area

In [10]:
density

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [11]:
area.index and population.index

ValueError: The truth value of a Index is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [12]:
area.index & population.index   #### Common index in both area and population

Index([u'California', u'Texas'], dtype='object')

In [13]:
area.index.difference(area.index & population.index)

Index([u'Alaska'], dtype='object')

In [15]:
population.index.difference(population.index & area.index)

Index([u'New York'], dtype='object')